[Desktop Entry]
Name=archnav
Comment=Fast file navigator for KDE Wayland
Exec=archnav
Icon=archnav
Terminal=false
Type=Application
Categories=Utility;FileTools;System;
Keywords=file;search;navigate;fzf;
StartupWMClass=archnav
