[Desktop Entry]
Type=Application
Name=archnav
GenericName=File Navigator
Comment=Fast keyboard-centric file navigator
Exec=archnav
Icon=system-file-manager
Terminal=false
Categories=Utility;FileManager;
Keywords=file;search;find;navigate;

Actions=Toggle;

[Desktop Action Toggle]
Name=Toggle archnav
Exec=archnav --toggle
# This action will appear in KDE Shortcuts settings
